@import "../../../pages/variables.scss";

.user-profile-popup__user-job {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  @include phone-font;
  font-weight: $light-font-weight;
  color: $optional-text-color;
}