@import "../../../pages/variables.scss";
.header__button-image {
    background: url('../images/header-button.png') center center no-repeat;
    background-size: cover;
    border: none;
    width: $button-size;
    height: $button-size;
    cursor: pointer;
    padding: 0;
}