.header__button-image {
    background: url(../../../images/header-button.png) center center no-repeat;
    background-size: cover;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}