@import "../../../pages/variables.scss";

.menu-popup__settings {
  padding: 10px $gap16;
  display: flex;
  align-items: center;
  transition: background-color .2s ease-in-out 0s, color .2s ease-in-out 0s;
  cursor: pointer;
}

.menu-popup__settings:hover {
  background-color: $menu-item-background;
  color: $menu-color;
}