@import "../../../pages/variables.scss";

.header__menu-button {
  border: none;
  width: $button-size;
  height: $button-size;
  gap: 3px;
  @include flexible-center;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  margin-left: 20px;
  padding: 0;
  cursor: pointer;
}

.header__menu-button:hover .header__menu-button-dot {
  border-color: $menu-color;
}

.header__menu-button:hover .header__menu-button-dot_type_subheader {
  border-color: $header-color;
}

.header__menu-button:active {
  background-color: $primary-text-color;
  border-radius: $border-radius-small;
}
