@import "../../../pages/variables.scss";

.header__menu-button {
  border: none;
  width: $big-button;
  height: $big-button;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  background: transparent;
  margin-left: 32px;
  cursor: pointer;
}

.header__menu-button:hover .header__menu-button-dot {
  background-color: $menu-color;
}

.header__menu-button:hover .header__menu-button-dot_type-subheader {
  background-color: $header-color;
}

.header__menu-button:active {
  background-color: $primary-text-color;
  border-radius: $border-radius-small;
}
