$border-top-blue: #3A9EFF;
$menu-color: #1F8EFA;
$subheader-color: #0085F0;
$header-color: #273142;
$primary-text-color: #354052;
$card-header-text-color: #516173;
$optional-text-color: #7F8FA4;
$widget-border: #C2CAD4;
$border-color: #DFE3E9;
$button-background: #E9EDF1;
$widget-area-color: #EFF3F6;
$header-text-color: #FFFFFF;
$support-color: #FFB300;
$border-top-red: #E91E63;

$font: 'Golos UI', serif;
$main-font-weight: 500;
$bold-font-weight: 700;
$light-font-weight: 400;

@mixin header-text {
  font: {
    family: $font;
    size: 16px;
  }
  line-height: 18px;
}

@mixin info-text {
  font: {
    family: $font;
    size: 14px;
  }
  line-height: 16px;
}

@mixin phone-font {
  font: {
    family: $font;
    size: 12px;
  }
  line-height: 14px;
}

@mixin mail-font {
  font: {
    family: $font;
    size: 13px;
  }
  line-height: 16px;
}

@mixin profile-letter {
  font: {
    family: $font;
    size: 24px;
  }
  line-height: 24px;
}

@mixin flexible-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexible-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$panel-size: 56px;
$border-radius-small: 4px;
$border-radius-big: 8px;
$icon-size: 20px;
$gap8: 8px;
$gap16: 16px;
$button-size: 40px;
$small-button-size: 20px;
$min-screen-size: 1280px;
$cursor-pointer: pointer;