.subheader__add-button {
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color:  #1F8EFA;
    color: #FFF;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
}