@import "../../../pages/variables.scss";

.subheader__add-button {
  border: none;
  border-radius: $border-radius-small;
  height: $big-button;
  background-color: $menu-color;
  color: $header-text-color;
  font-weight: $bold-font-weight;
  @include info-text;
  letter-spacing: 0.02em;
  padding: 12px;
  box-sizing: border-box;
  cursor: pointer;
}