@import "../../../pages/variables.scss";

.widget__header-button {
  text-decoration: underline 1px solid $border-top-blue;
  cursor: $cursor-pointer;
  color: $primary-text-color;
  transition: color 0.3s ease-in-out;
}

.widget__header-button:hover {
  text-decoration: none;
  color: $subheader-color;
}