@import "../../../pages/variables.scss";

.subheader__item {
  padding: 0 15px;
  box-sizing: border-box;
  border-right: 1px solid $border-color;
  @include flexible-space-between;
  gap: $gap8;
}

.subheader__item:last-child {
  border-right: none;
}

.subheader__item:first-child {
  padding-left: 0;
}