@import "../../../pages/variables.scss";

.menu-popup__settings-icon {
  margin-right: 6px;
  fill: $optional-text-color;
  transition: .2s ease-in-out 0s;
}

.menu-popup__settings:hover .menu-popup__settings-icon {
  fill: $menu-color;
}