@import "../../../pages/variables.scss";

.header__menu-item {
  font-weight: $main-font-weight;
  @include header-text;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}

/*.header__menu-item:before {
    content: '';
    display: inline-block;
    height: 100% ;
    vertical-align: middle;
}*/

.header__menu-item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  margin-top: 18px;
  background-color: $menu-color;
}

.header__menu-item:hover:after {
  width: 100%;
}

.header__menu-item:hover {
  color: $menu-color;
}

