@import "../../../pages/variables.scss";

.widget__button-prompt {
  background-color: $header-color;
  color: $header-text-color;
  text-align: center;
  border-radius: $border-radius-small;
  padding: 5px 8px;
  position: absolute;
  z-index: 3;
  bottom: 130%;
  left: 50%;
  opacity: 0;
  transition: opacity .3s;
  transition-delay: 0s;
  @include mail-font;
  font-weight: $light-font-weight;
}

.widget__button-item .widget__button-prompt:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $header-color transparent transparent transparent;
}

.widget__button-item:hover .widget__button-prompt {
  opacity: 0.9;
  transition-delay: .8s;
}