@import "../../pages/variables.scss";

.header {
  width: 100%;
  height: 56px;
  background-color: $header-color;
  display: flex;
  justify-content: left;
  align-items: center;
  color: $header-text-color;
  padding: 0 16px;
  box-sizing: border-box;
  border-bottom: 2px solid $primary-text-color;
}